.tabs {
  min-width: 500px;
  min-height: 200px;
  
  box-shadow: 0 1px 2px rgba(0, 0, 0, .07), 0 2px 4px rgba(0, 0, 0, .07), 0 4px 8px rgba(0, 0, 0, .07), 0 8px 16px rgba(0, 0, 0, .07), 0 16px 32px rgba(0, 0, 0, .07), 0 32px 64px rgba(0, 0, 0, .07);
}
.tabs .tab-header{
  display: flex;
}

.tabs .tab-header .item {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.tabs .tab-header .active {
  background-color: blue;
  color: #fff;
}
.tabs .tab-content {
  padding: 10px;
}
